


<div style='min-height:200px'>
    <table  id="index_table" class="pretty">
     <thead> 
      <tr>
       
          <th style=" padding-right: 5px; padding-left: 5px; min-width: 50px"><font size="2"><b>Agenda </b></font></th>
          <th style=" padding-right: 5px; padding-left: 5px; min-width: 150px "><font size="2"><b>Description </b></font></th>
          <th style=" padding-right: 5px; padding-left: 5px; min-width: 150px "><font size="2"><b>Date</b></font></th>
          <th style=" padding-right: 5px; padding-left: 5px; min-width: 150px "><font size="2"><b>Customers </b></font></th>
          <th style=" padding-right: 5px; padding-left: 5px; min-width: 50px "><font size="2"><b>Attached File</b></font></th>
          <th style=" padding-right: 5px; padding-left: 5px; min-width: 50px "><font size="2"><b>Agenda Sheet </b></font></th>
           <th style=" padding-right: 5px; padding-left: 5px; min-width: 50px "><font size="2"><b>Checklist </b></font></th>
           <th style=" padding-right: 5px; padding-left: 5px; min-width: 50px "><font size="2"><b>Destroy </b></font></th>


      </tr>
     </thead>
      <tbody>
   <% @visits.each do |visit| %>
      <tr>
          
          <td style=" padding-right: 5px; padding-left: 5px; min-width: 50px"><%= link_to visit.Agenda, visit %></td>
          <td style=" padding-right: 5px; padding-left: 5px; min-width: 150px "><%= visit.Description %></td>
          <td style=" padding-right: 5px; padding-left: 5px; min-width: 100px "><%= visit.Date %></td>
          <td style=" padding-right: 5px; padding-left: 5px; min-width: 150px "><%= visit.Customers %></td>

        <%  if visit.attachment.blank? %>
            <td style=" padding-right: 5px; padding-left: 5px; min-width: 150px ">Not Available</td>
        <% else %>
            <td style=" padding-right: 5px; padding-left: 5px; min-width: 50px " align="center"><%= link_to(image_tag("Download-icon.png", :border => 0), visit.attachment.url)%></td>
        <% end %>
         <td style=" padding-right: 5px; padding-left: 5px; min-width: 150px "><%= link_to 'Make Agenda Sheet', agenda_visits_path(:visit => visit.id), :class=> 'btn' %></td>


  
<% if !visit.checklist %>

 <td><%= link_to 'New Checklist',  new_visit_checklist_path(:visit_id => visit.id), :class=> 'btn' %></td>

<% else %>

  <td><%= link_to 'Edit Checklist',  edit_visit_checklist_path(:visit_id => visit.id, :id => visit.checklist.id), :class=> 'btn' %></td>
<% end %>



          <td style=" padding-right: 5px; padding-left: 5px; min-width: 50px "><b><%= link_to(image_tag("destroy.png", :border => 0), visit, confirm: 'Are you sure?', method: :delete )%></b></td>
      </tr>       


        <% end %>
      </tbody>
    </table>

  </div>
  <div align='center'>

</div>