<h2>Visits</h2>

  <div style="height: 50px">
  </div>


<%= form_tag visits_path, :method => 'get', :id => "visits_search" do %>

  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="visits"><%= render 'visits' %></div>
<% end %>



  <div style="height: 50px">
  </div>

<%= link_to 'New Visit', new_visit_path, :class=> 'btn  btn-custom' %>

