  <div style=" min-height: 50px">
  </div>
<h2>Visit Details </h2><br/>
<div style="min-width: 960px; overflow:auto;">
    <table  id="show_table" >
      <thead>
     <tr>
       
          <td style=" padding-right: 5px; padding-left: 5px; padding-bottom: 5px; min-width: 50px"><font size="3"><b>Agenda </b></font></td> 
          <td style=" padding-right: 5px; padding-left: 5px; min-width: 50px"><%= @visit.Agenda %></td>
      </tr>
      <tr>
        <td style=" padding-right: 5px; padding-left: 5px;padding-bottom: 5px; min-width: 150px "><font size="3"><b>Description </b></font></td>  
        <td style=" padding-right: 5px; padding-left: 5px; min-width: 150px "><%= @visit.Description %></td>
      </tr>
      <tr>
        <td style=" padding-right: 5px; padding-left: 5px; padding-bottom: 5px;min-width: 100px "><font size="3"><b>Date </b></font></td>     
        <td style=" padding-right: 5px; padding-left: 5px; min-width: 150px "><%= @visit.Date %></td>
      </tr>
      <tr>
        <td style=" padding-right: 5px; padding-left: 5px;padding-bottom: 5px; min-width: 150px "><font size="3"><b>Customers </b></font></td> 
        <td style=" padding-right: 5px; padding-left: 5px; min-width: 70px "><%= @visit.Customers %></td>
      </tr>
      <tr> 

        <td style=" padding-right: 5px; padding-left: 5px;padding-bottom: 5px; min-width: 150px "><font size="3"><b>Attached File </b></font></td> 


        <%  if @visit.attachment.blank? %>
            <td style=" padding-right: 5px; padding-left: 5px">Not Available</td>
        <% else %>
            <td style=" padding-right: 5px; padding-left: 5px" align="center"><%= link_to(image_tag("Download-icon.png", :border => 0), @visit.attachment.url)%></td>
        <% end %>
      </tr>

 
      </thead>

    </table>
  </div>




  <br/>
 <%= link_to 'Agenda Sheet', agenda_visits_path(:visit => @visit.id), :class=> 'btn' %>





<% if !@visit.checklist %>
 <%= link_to 'Generate Checklist',  new_visit_checklist_path(@visit), :class=> 'btn' %>

<% else %>

  <td style=" padding-right: 5px; padding-left: 5px; min-width: 150px "><%= link_to 'Edit Checklist',  edit_visit_checklist_path(@visit), :class=> 'btn' %></td>
<% end %>


</br></br>




 
  <%= link_to 'Back', visits_path, :class=> 'btn' %>

  <%= link_to 'Edit', edit_visit_path(@visit), :class=> 'btn' %>

