<div class='well span4'>
         <%= form_for @user, :url => user_index_path do |f| %>

          <div><br><b><font size="3px">Email</b></font><br>
            <%= f.text_field :email %></div><br>

          <div><b><font size="3px">Password </b></font><br>
            <%= f.password_field :password, :autocomplete => "off" %></div><br>

          <div><b><font size="3px">Confirm Password</b></font><br>
            <%= f.password_field :password_confirmation %></div><br>

          <div><b><font size="3px">Role</b></font><br>
          <b><%= f.radio_button :role , 'Member',:checked => true %> Member
            <br><%= f.radio_button :role, 'Admin'%> Admin
          </b>
         </div><br>
         <br>

          <div><%= f.submit "Save", :class=> 'btn btn-primary' %></div> <%end%>

      </div>



