<%= form_for([@visit, @checklist]) do |f| %>
  <% if @checklist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checklist.errors.count, "error") %> prohibited this checklist from being saved:</h2>

      <ul>
      <% @checklist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div style="height: 50px">
</div>

<div class="well span6">
  <table>
    <tr>
      <td>
        <font size="3px">Ground Transport :</font>
      </td>
      <td>
            <%= f.check_box(:GroundTransCheck,{}, "Required", "Not Required")%>
            <%= f.text_area :GroundTransComment, :rows=>1, :cols=>50 %></br>
      </td>
        
    </tr>

    <tr>
      <td>
        <font size="3px">Laptop Pass :</font>
      </td>
      <td>
            <%= f.check_box(:LaptopPassCheck,{}, "Required", "Not Required") %>
            <%= f.text_area :LaptopPassComment, :rows=>1, :cols=>50 %></br>
      </td>
        
    </tr>

    <tr>
      <td>
        <font size="3px">SEZ Pass         :</font>
      </td>
      <td>
            <%= f.check_box(:SEZPassCheck,{}, "Required", "Not Required") %>
            <%= f.text_area :SEZPassComment, :rows=>1, :cols=>50 %></br>
      </td>
        
    </tr>

    <tr>
      <td>
        <font size="3px">TCS Visitor Pass :</font>
      </td>
      <td>
            <%= f.check_box(:TCSVisitorPassCheck,{}, "Required", "Not Required")%>
            <%= f.text_area :TCSVisitorPassComment, :rows=>1, :cols=>50 %></br>
      </td>
        
    </tr>

    <tr>
      <td>
        <font size="3px">ODC Access       :</font>
      </td>
      <td>
            <%= f.check_box(:ODCAccessCheck,{}, "Required", "Not Required") %>
            <%= f.text_area :ODCAccessComment, :rows=>1, :cols=>50 %></br>
      </td>
        
    </tr>


            <%= hidden_field_tag :visit_id, @visit.id %>


    <tr>
      <td>
        <font size="3px">E-Mail to        :</font>

      </td>
      <td>
            &nbsp&nbsp&nbsp
            <%= f.text_area :email, :rows=>1, :cols=>50 %></br>
      </td>
    </tr>
  </table>  

<div style="height: 50px">
</div>


<div>  <%= f.submit "Save", :class=> 'btn btn-primary' %></div>
</div>


<% end %>




