<h1>Listing checklists</h1>

<table>
  <tr>
    <th>VISIT ID</th>
    <th>Groundtranscheck</th>
    <th>Groundtranscomment</th>
    <th>Laptoppasscheck</th>
    <th>Laptoppasscomment</th>
    <th>Sezpasscheck</th>
    <th>Sezpasscomment</th>
    <th>Tcsvisitorpasscheck</th>
    <th>Tcsvisitorpasscomment</th>
    <th>Odcaccesscheck</th>
    <th>Odcaccesscomment</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @checklists.each do |checklist| %>
  <tr>
    <td><%= checklist.visit_id %></td>
    <td><%= checklist.GroundTransCheck %></td>
    <td><%= checklist.GroundTransComment %></td>
    <td><%= checklist.LaptopPassCheck %></td>
    <td><%= checklist.LaptopPassComment %></td>
    <td><%= checklist.SEZPassCheck %></td>
    <td><%= checklist.SEZPassComment %></td>
    <td><%= checklist.TCSVisitorPassCheck %></td>
    <td><%= checklist.TCSVisitorPassComment %></td>
    <td><%= checklist.ODCAccessCheck %></td>
    <td><%= checklist.ODCAccessComment %></td>
    <td><%= checklist.email %></td>
    <td><%= link_to 'Show', checklist %></td>
    <td><%= link_to 'Edit', edit_checklist_path(checklist) %></td>
    <td><%= link_to 'Destroy', checklist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Checklist', new_checklist_path %>
