<p id="notice"><%= notice %></p>

<p>
  <b>Groundtranscheck:</b>
  <%= @checklist.GroundTransCheck %>
</p>

<p>
  <b>Groundtranscomment:</b>
  <%= @checklist.GroundTransComment %>
</p>

<p>
  <b>Laptoppasscheck:</b>
  <%= @checklist.LaptopPassCheck %>
</p>

<p>
  <b>Laptoppasscomment:</b>
  <%= @checklist.LaptopPassComment %>
</p>

<p>
  <b>Sezpasscheck:</b>
  <%= @checklist.SEZPassCheck %>
</p>

<p>
  <b>Sezpasscomment:</b>
  <%= @checklist.SEZPassComment %>
</p>

<p>
  <b>Tcsvisitorpasscheck:</b>
  <%= @checklist.TCSVisitorPassCheck %>
</p>

<p>
  <b>Tcsvisitorpasscomment:</b>
  <%= @checklist.TCSVisitorPassComment %>
</p>

<p>
  <b>Odcaccesscheck:</b>
  <%= @checklist.ODCAccessCheck %>
</p>

<p>
  <b>Odcaccesscomment:</b>
  <%= @checklist.ODCAccessComment %>
</p>

<p>
  <b>Visit:</b>
  <%= @checklist.visit_id %>
</p>

<p>
  <b>Email:</b>
  <%= @checklist.email %>
</p>


<%= link_to 'Edit Checklist',  edit_visit_checklist_path(@checklist.visit_id, @checklist.id), :class=> 'btn' %> |
<%= link_to 'Back', visits_path, :class=> 'btn' %>