<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Greetings, <%= @checklist.email %></h1>
    <h2>===============================</h2>
    <p>
      Here is the list of checklist regarding Client Visit : Visit ID-<%= @checklist.visit_id %>.<br/>
    </p>
    <p>

      Ground Transport requirement : <%= @checklist.GroundTransCheck %> <br/>
      Comment : <%= @checklist.GroundTransComment %>
    </p>

    <p>

      Laptop Pass requirement : <%= @checklist.LaptopPassCheck %> <br/>
      Comment : <%= @checklist.LaptopPassComment %>
    </p>


    <p>

      SEZ Pass requirement : <%= @checklist.SEZPassCheck %> <br/>
      Comment : <%= @checklist.SEZPassComment %>
    </p>

    <p>

      TCS Visitors Pass requirement : <%= @checklist.TCSVisitorPassCheck %> <br/>
      Comment : <%= @checklist.TCSVisitorPassComment %>
    </p>

    <p>

      ODC Access requirement : <%= @checklist.ODCAccessCheck %> <br/>
      Comment : <%= @checklist.ODCAccessComment %>
    </p>
  </br></br>


    <p>Thanks and have a great day!</p>
    <p>Regards.</p>
  </body>
</html>