<!DOCTYPE html>

<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Client Visit Portal" %></title>
 <%= stylesheet_link_tag  "application","dhtmlxgrid","dhtmlxcalendar","dhtmlxcalendar_dhx_skyblue","dhtmlxgrid_dhx_skyblue" ,:media => "all" %>

  <%= csrf_meta_tags %>



    <style>
      ul.nav li.dropdown:hover ul.dropdown-menu{
        display: block;
      }
      body{
        padding: 40px 0 40px 0;

      }
 </style>



</head>
<body>
	<%= render 'shared/header' %>
	</br>
    </br>
    
    <div class="container-fluid">
      <div class="notice hide" id="devise_notice"><%= notice%></div>
      <div class="alert hide" id="devise_alert"><%=  alert%></div>
	  <div class="span10" style="min-height: 650px; width:72%">
    
      <%= yield %>
  
  	</div>

    </div> 

  	<footer class="offset5">
    	&copy; 2010-2013 Tata Consultancy Services Limited.  All Rights Reserved 
  	</footer>

  	<footer class="offset7">
    	<%= image_tag "icon-tata.png" %>
  	</footer>



<%= javascript_include_tag "application", "dhtmlxcommon.js", "jquery.colorbox", "app", "dhtmlxgrid.js","dhtmlxgridcell.js","dhtmlxcalendar.js","dhtmlxgrid_excell_dhxcalendar.js" %>

</body>
</html>
